body { 
  background: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  }

img {
    border-radius: 50%;
  }

h1{ 
    color: rgb(235, 228, 228);
    font-size: 28px;
}

h2 {
    color: rgb(60, 117, 90);
    font-size: 25px;
    line-height: 32px;
 }
  
h3 {
    color: rgb(60, 117, 90);
    font-size: 20px;
    margin-top: -10px;
  }
  
h4 {
    color: rgb(60, 117, 90);
    font-size: 16px;
    font-weight: 100;
    text-align: left;
  }

  /********* Header ********/

header {
    padding: 16px;
    margin-top: 20px;
    block-size: 180px;
    background-color:rgb(60, 117, 90);
}

.summary h3, p {
    color: rgb(235, 228, 228)
}

    /********* Main ***********/

li {
   font-size: 15px;
}

.education p{
    color:black;
    font-size: 15px;
}

.education time{
font-size: 10px;
font-style: italic;
color: rgb(60, 117, 90)
}


.workexperience{
align-items: baseline;
flex-direction: column;

}