*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

body{ 
  background: white;
  color: black;
  font-family: sans-serif;
  margin: 20px;
  }

.rounded{
    border-radius: 50%;
  }

.title{ 
    color: rgb(235, 228, 228);
    font-size: 28px;
}

.header-2{
  color: rgb(60, 117, 90);
  font-size: 25px;
  line-height: 32px;
  width: fit-content;
  margin-bottom: 15px;
  margin-top: 10px;
  text-decoration-line: underline;  
}

 .header-3{
  color: rgb(60, 117, 90);
  font-size: 17px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  
}
 .masterheader-3{
  margin-top: 16px;
  color: rgb(60, 117, 90);
  font-size: 17px;
  margin-bottom: 5px;
  letter-spacing: 1px;
 }

.contactinfo{
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.material-icons{
  color:rgb(60, 117, 90);
  margin-bottom: 5px;
}

.sidebar{
  width: 25%;
  position:static;
}

.myskills, .language {
    text-decoration: underline;
}

.skill, .lang{
  border-style: solid rgb(60, 117, 90);
  width: fit-content;
  background-color: rgb(60, 117, 90);
  border: thick double rgb(60, 117, 90);
  border-radius: 5px;
  margin-bottom: 5px;
}

  
                          /********* main ********/

.summary{
    padding: 16px;
    margin-top: 10px;
    block-size: 190px;
    background-color:rgb(60, 117, 90);
    border-radius: 10px;
  }

.page{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  flex-wrap: wrap;
  }
  
.container{
    width: 75%;
    position:static;
  }
.title{
   letter-spacing: 1px;
  }
  
.job{
  margin-bottom: 15px;
}

.previous{
  margin-top: 10px;
}

.description, .job, p{
  color: rgb(235, 228, 228)
}

.description{
  margin-top: 15px;
}
.hline-bottom {
  padding-bottom: 0.5px;
  border-bottom: 1px solid rgb(235, 228, 228);
}

.company {
color:black;
font-size: 15px;
margin-bottom: 5px;
}
   
.time{
font-size: 10px;
font-style: italic;
color: rgb(60, 117, 90);
}

.university{
  color:black;
  font-size: 15px;
  width: 100%;
 }

ul li{
  list-style: none;
  color: black;
  }
  
ul li::before{
content:"\25AA";
display: inline-block;
width: 8px;
color:rgb(60, 117, 90);
margin-left:1px;
}

.university{
  margin-right: 4s;
}

/* Media screeen */

@media screen and (max-width: 400px){
.sidebar{
    width: 9%;
    font: sans-serif;
  }

.container{
    width: 50%;
    position: relative;
   }

.container{
    position: relative;
    width: 180%;
    float:left;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

.sidebar img{
  position: relative;
  width:160%;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  flex-shrink: 2;
  }

  